{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
      <div class="pc-content">
        <!-- [ Main Content ] start -->
        <div class="row">
        {# KPI operation et activation #}
          <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden text-center">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-4.svg" alt="img" class="img-fluid img-bg" >
                <h5 class="mb-4">Opérations réalisées</h5>
                <div class="d-flex align-items-center mt-3">
                  <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ numOperationRealise }} opérations</h3>
                  <span class="badge bg-light-success ms-2"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden bg-brand-color-3">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-5.svg" alt="img" class="img-fluid img-bg" >
                <h5 class="mb-4 text-white">Opérations en cours</h5>
                <div class="d-flex align-items-center mt-3">
                  <h3 class="text-white f-w-300 d-flex align-items-center m-b-0">{{ numOperationEnCours }}  opérations</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden ">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-6.svg" alt="img" class="img-fluid img-bg" >
                <h5 class="mb-4">Activations terminées</h5>
                <div class="d-flex align-items-center mt-3">
                  <h3 class=" f-w-300 d-flex align-items-center m-b-0">x activations</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden  bg-brand-color-3">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-6.svg" alt="img" class="img-fluid img-bg" >
                <h5 class="mb-4 text-white">Activation à venir</h5>
                <div class="d-flex align-items-center mt-3">
                  <h3 class="text-white f-w-300 d-flex align-items-center m-b-0">x activations</h3>
                </div>
              </div>
            </div>
          </div>
        {# Fin KPI operation et activation #}


          <div class="col-md-3 col-sm-6">
            <div class="card statistics-card-1 overflow-hidden  bg-brand-color-3">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-6.svg" alt="img" class="img-fluid img-bg" >
                <h5 class="mb-4 text-white">Nombre d'employés</h5>
                <div class="d-flex align-items-center mt-3">
                  <h3 class="text-white f-w-300 d-flex align-items-center m-b-0">{{numTotalUsers}} employés</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-8">
            <div class="card table-card">
              <div class="card-header d-flex align-items-center justify-content-between py-3">
                <h5>Derniers employés </h5>
                <div class="dropdown">
                  <a class="avtar avtar-xs btn-link-secondary dropdown-toggle arrow-none" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><i class="material-icons-two-tone f-18">more_vert</i></a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Voir tout</a>
                  </div>
                </div>
              </div>
              <div class="card-body py-2 px-0">
                <div class="table-responsive">
                  <table class="table table-hover table-borderless table-sm mb-0">
                    <tbody>
                    {% for user in FourLastestUser %}
                      <tr>
                        <td>
                          <div class="d-inline-block align-middle">
                            <img src="{{asset('images/user/avatar-1.jpg')}}" alt="user image" class="img-radius align-top m-r-15" style="width:40px;">
                            <div class="d-inline-block">
                              <h6 class="m-b-0">{{ user.email }}</h6>
                              <p class="m-b-0">Android developer</p>
                            </div>
                          </div>
                        </td>
                        <td><p class="mb-0"><i class="ph-duotone ph-circle text-warning f-12"></i> <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td></p></td>
                        <td class="text-end">
                          <button class="btn avtar avtar-xs btn-light-danger"><i class="ti ti-x"></i></button>
                          <button class="btn avtar avtar-xs btn-light-success"><i class="ti ti-check"></i></button>
                        </td>
                      </tr>
                    {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {# <div class="col-md-6 col-xl-4">
            <div class="card statistics-card-1 overflow-hidden ">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-7.svg" alt="img" class="img-fluid img-bg" >
                <div class="d-flex align-items-center">
                  <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-facebook.svg" alt="img" class="img-fluid" >
                  <div class="flex-grow-1 ms-3">
                    <p class="mb-0 text-muted">Total Likes</p>
                    <div class="d-inline-flex align-items-center">
                      <h5 class="f-w-300 d-flex align-items-center m-b-0">12,281</h5>
                      <span class="badge bg-success ms-2">+7.2%</span>
                    </div>
                  </div>
                </div>
                <div class="row g-3 mt-5 text-center">
                  <div class="col-6">
                    <p class="mb-0 text-muted">Target</p>
                    <h5 class="mb-0">35,098</h5>
                  </div>
                  <div class="col-6 border-start">
                    <p class="mb-0 text-muted">Duration</p>
                    <h5 class="mb-0">3,539</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card statistics-card-1 overflow-hidden ">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-8.svg" alt="img" class="img-fluid img-bg" >
                <div class="d-flex align-items-center">
                  <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-google.svg" alt="img" class="img-fluid" >
                  <div class="flex-grow-1 ms-3">
                    <p class="mb-0 text-muted">Total Likes</p>
                    <div class="d-inline-flex align-items-center">
                      <h5 class="f-w-300 d-flex align-items-center m-b-0">12,281</h5>
                      <span class="badge bg-success ms-2">+5.9%</span>
                    </div>
                  </div>
                </div>
                <div class="row g-3 mt-5 text-center">
                  <div class="col-6">
                    <p class="mb-0 text-muted">Target</p>
                    <h5 class="mb-0">35,098</h5>
                  </div>
                  <div class="col-6 border-start">
                    <p class="mb-0 text-muted">Duration</p>
                    <h5 class="mb-0">3,539</h5>
                  </div>
                </div>
              </div>
            </div>
          </div> #}
          {# <div class="col-md-12 col-xl-4">
            <div class="card statistics-card-1 overflow-hidden ">
              <div class="card-body">
                <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-status-9.svg" alt="img" class="img-fluid img-bg" >
                <div class="d-flex align-items-center">
                  <img src="https://html.phoenixcoded.net/light-able/bootstrap/assets/images/widget/img-twitter.svg" alt="img" class="img-fluid" >
                  <div class="flex-grow-1 ms-3">
                    <p class="mb-0 text-muted">Total Likes</p>
                    <div class="d-inline-flex align-items-center">
                      <h5 class="f-w-300 d-flex align-items-center m-b-0">12,281</h5>
                      <span class="badge bg-success ms-2">+6.2%</span>
                    </div>
                  </div>
                </div>
                <div class="row g-3 mt-5 text-center">
                  <div class="col-6">
                    <p class="mb-0 text-muted">Target</p>
                    <h5 class="mb-0">35,098</h5>
                  </div>
                  <div class="col-6 border-start">
                    <p class="mb-0 text-muted">Duration</p>
                    <h5 class="mb-0">3,539</h5>
                  </div>
                </div>
              </div>
            </div>
          </div> #}
        </div>
        <!-- [ Main Content ] end -->
      </div>

{% endblock %}
