{% extends 'base1.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="auth-main v1">
    <div class="auth-wrapper">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{{ asset('images/authentication/img-auth-login.png') }}" alt="images" class="img-fluid mb-3" />
                        <h4 class="f-w-500 mb-1">Inscrivez-vous</h4>
                        <p class="mb-3">Vous êtes déjà inscrit ? <a href="{{path('app_login')}}" class="link-primary ms-1">Connectez-vous !</a></p>
                    </div>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    <div class="form-check">
                        {{ form_row(registrationForm.agreeTerms) }}
                        <label class="form-check-label text-muted" for="customCheckc1">I agree to all the Terms & Condition</label>
                    </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    {{ form_end(registrationForm) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 