<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header  mb-5 p-5">
      <a href="{{ path('app_home')}}" class="b-brand text-primary">
        <img src="{{ asset('images/logo.png')}}" alt="logo image" class="w-100" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-hasmenu">
          <a href="{{ path('app_home')}}" class="pc-link">
            <span class="pc-micon">
              <i class="ti ti-dashboard"></i>
            </span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{{ path('app_operation')}}" class="pc-link"
            ><span class="pc-micon"> <i class="ph-duotone ph-layout"></i></span><span class="pc-mtext">Operations</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{{ path('app_activation')}}" class="pc-link"
            ><span class="pc-micon"> <i class="ti ti-layout-columns"></i></span><span class="pc-mtext">Activations</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{path('app_user_index')}}" class="pc-link">
            <span class="pc-micon">
              <i class="ti ti-user"></i>
            </span>
            <span class="pc-mtext">User</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>