{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="row">
                <div class="col-lg-5 col-xxl-3">
                    <div class="card overflow-hidden">
                        <div class="card-body position-relative">
                            <div class="text-center mt-3">
                                <div class="chat-avtar d-inline-flex mx-auto">
                                    <img class="rounded-circle img-fluid wid-90 img-thumbnail" src="{{ asset('images/user/avatar-1.jpg')}}" alt="User image" />
                                </div>
                                <h5 class="mb-5">{{user.email}}</h5>
                                
                            </div>
                        </div>
                        <div class="nav flex-column nav-pills list-group list-group-flush account-pills mb-0"
                            id="user-set-tab"
                            role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link list-group-item list-group-item-action active" id="user-set-profile-tab" data-bs-toggle="pill" href="#user-set-profile" role="tab" aria-controls="user-set-profile" aria-selected="true">
                            <span class="f-w-500"><i class="ph-duotone ph-user-circle m-r-10"></i>Informations générales</span>
                            </a>
                            <a class="nav-link list-group-item list-group-item-action" id="user-set-information-tab" data-bs-toggle="pill" href="#user-set-information" role="tab" aria-controls="user-set-information" aria-selected="false">
                            <span class="f-w-500"><i class="ph-duotone ph-clipboard-text m-r-10"></i>Documents personnelles</span>
                            </a>
                            <a class="nav-link list-group-item list-group-item-action" id="user-set-account-tab" data-bs-toggle="pill" href="#user-set-account" role="tab" aria-controls="user-set-account" aria-selected="false">
                            <span class="f-w-500"><i class="ph-duotone ph-notebook m-r-10"></i>Documents contractuels</span>
                            </a>
                            <a class="nav-link list-group-item list-group-item-action" id="user-set-passwort-tab" data-bs-toggle="pill" href="#user-set-passwort" role="tab" aria-controls="user-set-passwort" aria-selected="false">
                            <span class="f-w-500"><i class="ti ti-settings m-r-10"></i>Modifier les informations</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xxl-9">
                    <div class="tab-content" id="user-set-tabContent">
                        <div class="tab-pane fade show active" id="user-set-profile" role="tabpanel" aria-labelledby="user-set-profile-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Informations personnelles</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Nom </p>
                                            <p class="mb-0">
                                            {% if user.lastName %}
                                                {{user.lastName}}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                             </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Prénom</p>
                                            <p class="mb-0">
                                            {% if user.firstName %}
                                                {{ user.firstName }}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                            </p>
                                        </div>
                                        </div> 
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Date de naissance</p>
                                            <p class="mb-0">
                                            {% if user.dateBirth %}
                                                {{ user.dateBirth ? user.dateBirth|date('Y-m-d') : '' }}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                            
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Phone</p>
                                            <p class="mb-0">
                                            {% if user.Phone %}
                                                {{user.Phone}}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                            </p>
                                        </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Email</p>
                                            <p class="mb-0">{{ user.email }}</p>
                                        </div>
                                        <div class="col-md-6">
                                             <p class="mb-1 text-muted">Address</p>
                                        <p class="mb-0">
                                        {% if user.Address %}
                                                 {{user.Address}}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                        </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Coordonnées personnelles</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Email personnelle </p>
                                            <p class="mb-0">
                                            {% if user.email %}
                                                {{user.email}}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                             </p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Adresse personnelle</p>
                                            <p class="mb-0">
                                            {% if user.Phone %}
                                                {{ user.Phone }}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                            </p>
                                        </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1 text-muted">Phone</p>
                                            <p class="mb-0">
                                            {% if user.Phone %}
                                                {{user.Phone}}
                                            {% else %}
                                                Non renseigné
                                            {% endif %}
                                            </p>
                                        </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5>Coordonnées professionnelles</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0 pt-0">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="mb-1 text-muted">Email professionnelle </p>
                                                    <p class="mb-0">
                                                    {% if user.email %}
                                                        {{user.email}}
                                                    {% else %}
                                                        Non renseigné
                                                    {% endif %}
                                                    </p>
                                                </div>
                                                <div class="col-md-6">
                                                <p class="mb-1 text-muted">Phone</p>
                                                    <p class="mb-0">
                                                    {% if user.Phone %}
                                                        {{user.Phone}}
                                                    {% else %}
                                                        Non renseigné
                                                    {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="user-set-account" role="tabpanel" aria-labelledby="user-set-account-tab">
                          {{ form_start(forms) }}
                                {{ form_widget(forms) }}
                                <button class="btn">Upload</button>
                            {{ form_end(forms) }}
                              <div class="card">
                                <div class="card-header">
                                    <h5> Promesse d'embauche </h5>
                                </div>
                                <div class="card-body">
                                {% if embauchedocs %}
                                    {% for document in embauchedocs %}
                                    <div class="d-flex align-items-center mb-2">
                                    
                                        <div class="flex-grow-1 me-3">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div class="avtar avtar-xs btn-light-twitter">
                                                        <i class="fas fa-file-alt f-16"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h6 class="mb-0">
                                                        <a href="{{ asset('uploads/documents/' ~ document.fileName) }}">{{ document.name }} ({{ document.category }})</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <button class="btn btn-link-primary avtar avtar-xs"> <a href="{{ asset('uploads/documents/' ~ document.fileName) }}"><i class="ti ti-cloud-upload"></i></a></button>
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Contrats de travail</h5>
                                </div>
                                <div class="card-body">
                                    {% if contratdocs %}
                                    {% for document in contratdocs %}
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="flex-grow-1 me-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="avtar avtar-xs btn-light-twitter">
                                                            <i class="fas fa-file-alt f-16"></i>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <a href="{{ asset('uploads/documents/' ~ document.fileName) }}">{{ document.name }} ({{ document.category }})</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <button class="btn btn-link-primary"> <a href="{{ asset('uploads/documents/' ~ document.fileName) }}"><i class="ti ti-cloud-upload"></i></a></button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>Fiches de paie</h5>
                                </div>
                                <div class="card-body">
                                {% if paiedocs %}
                                {% for document in paiedocs %}
                                    <div class="d-flex align-items-center mb-2">
                                        <div class="flex-grow-1 me-3">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div class="avtar avtar-xs btn-light-twitter">
                                                        <i class="fas fa-file-alt f-16"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="{{ asset('uploads/documents/' ~ document.fileName) }}">{{ document.name }} ({{ document.category }})</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0">
                                           <button class="btn btn-link-primary"> <a href="{{ asset('uploads/documents/' ~ document.fileName) }}"><i class="ti ti-cloud-upload"></i></a></button>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% endif %}
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="user-set-passwort" role="tabpanel" aria-labelledby="user-set-passwort-tab">
                            
                            <div class="card">
                                <div class="card-header">
                                    <h5>Modifier les informations</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                    {{ form_start(form) }}
                                        <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Email <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.email) }}
                                            </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Mot de passe <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.password) }}
                                            </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Prénom 
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.firstName) }}
                                            </div>
                                            </div>
                                        </li>
                                         <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Nom
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.lastName) }}
                                            </div>
                                            </div>
                                        </li>

                                         <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Date de naissance 
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.dateBirth) }}
                                            </div>
                                            </div>
                                        </li>
                                         <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Numéro de téléphone  
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.Phone) }}
                                            </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item pt-0 px-0">
                                            <div class="row mb-0">
                                            <label class="col-form-label col-md-4 col-sm-12 text-md-end"
                                                >Adresse 
                                            </label>
                                            <div class="col-md-8 col-sm-12">
                                                 {{ form_row(form.Address) }}
                                            </div>
                                            </div>
                                        </li>
                                        <div class="container">
                                            <div class="p-3">
                                                <div class="text-center">
                                                    <button class="btn btn-primary" target="_blank">{{ button_label|default('Enregistrer') }}</button>
                                                </div>
                                            </div>
                                        </div>
                                         {# <button class="btn">{{ button_label|default('Enregistrer') }}</button> #}
                                    {{ form_end(form) }}
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

